@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --primary-color: rgb(255, 79, 26);
    --secondary-color-one: rgb(255 , 143, 190);
    --secondary-color-two: rgb(250, 219, 20);
    --secondary-color-three: rgb(230 , 170, 206);
    --text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 0 auto;
}

body, html {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}


h1, h2, h3, h4, a {
    color: var(--primary-color);
}

h1{
    font-style: italic;
    margin: 0 auto;
}

p {
    color: var(--text-color);
}

a{
    transition: 0.3s ease;
    display: inline-block;
    text-decoration: none;
}

a:hover{
    transform: scale(1.1);
}

/*Home Page*/

#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    font-style: italic;
    margin-right: 4rem;
}

.navlinks {
    display: flex;
    gap: 2rem; 
}


.navlinks a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
}


.navlinks a:hover {
    color: var(--text-color);
    transform: scale(1.1);
}

.hamburger {
    display: none;
    font-size: 40px;
    cursor: pointer;
    color: var(--primary-color);
    font-style: normal;
}

.title {
    font-size: clamp(2rem, 5vw, 10vh);
    font-weight: 800;
    margin: 0 auto;
    margin-top: 65px;
}

.fullintro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20vh;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 2.5vh;
}

.down {
    width: 5vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10vh;
    transition: transform 0.3s ease;
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.down:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.about-name{
    margin-top: 0.5rem;
    font-size: 2rem;
}

.about-lastname{
    margin-bottom: 0.5rem;
}

.about-section{
    line-height: 2rem;
}

.works {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2#projects-title {
    text-align: center;
    margin-top: 30rem;
    margin-bottom: 1vh;
}

.projects {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    gap: 2rem;
}

h3.title {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.school {
    margin-top: 0;
    margin-bottom: 1rem;
}

.title-one {
    color: var(--secondary-color-one)
}

.title-two {
    color: var(--secondary-color-two)
}

.title-three {
    color: var(--secondary-color-three)
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.project-img {
    border: 1px solid var(--border-color);
    width: 100%;
    max-width: 1000px;
}

.one {
    --border-color: var(--secondary-color-one);
}

.two {
    --border-color: var(--secondary-color-two);
}

.three {
    --border-color: var(--secondary-color-three);
}

.links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 1rem;
}

.links-one a{
    color: var(--secondary-color-one);
}

.links-two a{
    color: var(--secondary-color-two);
}

.links-three a{
    color: var(--secondary-color-three);
}

.description {
    font-style: italic;
    width: 900px;
    text-align: center;
    margin-top: 0.5rem;
}

#top-btn {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 3rem;
    padding: 1rem;
    background: none;
    border: none;
    color: var(--primary-color);
    transition: 0.3s;
    font-style: italic;
    font-weight: bold;
}

#top-btn:hover {
    transform: scale(1.1);
    color: white;
    cursor: pointer;
}


.contact-link {
    font-weight: bolder;
    transition: 0.3s;
}

/*About page*/
.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    gap: clamp(1rem, 4vw, 4rem); 
    width: clamp(80%, 90vw, 100%); 
    margin: clamp(2rem, 5vh, 10vh) auto;
    margin-top: 20vh; 
}

.about img {
    max-width: clamp(200px, 25vw, 500px); 
    height: auto;
}

.about-text {
    max-width: 600px; 
    width: 100%; 
    text-align: left;
    line-height: 1.8rem;
}

.hey, .iAm, .about-name, .about-lastname {
    text-align: left;
    font-style: normal;
}

.hey{
    font-style: italic;
}


.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    margin-top: 7rem;
    font-style: italic;
}

.skills-header{
    margin-bottom: 1rem;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.html-icon, .css-icon, .js-icon, .figma-icon{
    width: 2rem;
}

.workwithme{
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 20rem;
}

.bullet{
    line-height: 5vh;
}

.bullet-one, .bullet-two, .bullet-three, .bullet-four, .bullet-five{
    line-height: 1.8rem;
    margin-bottom: 2rem;
}

.bullet h3{
    font-size: 1.2rem;
    font-style: italic;
}


.qualifications {
    display: flex;
    flex-direction: row;
    justify-content:space-around; 
    align-items: center; 
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
    color: var(--text-color);
    margin-bottom: 10rem;
}

/*Contact page*/

.contact-title{
    margin-top: 10vh;
    margin-bottom: 1vh;
    text-align: center;
}

.contact-options{
    margin: 0 auto;
}

.linkedin, .github, .mail {
    width: 50px; 
    height: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    display: block;
    margin: 0 auto;
}

.contact-item {
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    line-height: 5vh;
    margin-top: 10vh;
}

.contact-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer; 
}

.contact-item p {
    margin-top: 0.75rem; 
    font-size: 1.2rem; 
    color: var(--primary-color);
    font-weight: bold;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem; 
    margin-top: 1rem;
    padding: 1rem;
}

.contact-img {
    position: fixed;
    bottom: 0;
    width: auto;
    height: auto;
    margin: 0;
}



@media (min-width: 768px) and (max-width: 1050px) {

    /* /*Home page*/
    .title {
        font-size: 5rem;
        text-align: center;
        margin-top: 20px;
    }

    .down {
        margin-bottom: 20vh; 
    }

    /*About page*/

    .about-section {
        margin: 0 auto;
        text-align: center;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        align-items: center; 
    }

    .about img {
        max-width: 350px;
        height: auto; 
    }

    .about-text {
        max-width: 80%; 
        text-align: center;
        width: auto;
        margin: 0 auto;
        margin-bottom: 1rem; 
    }

    .about-lastname{
        margin-top: 0;
    }

    .bullet {
        margin-left: 0; 
        text-align: center;
    }

    .qualifications {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    .skills h2{
        margin-top: 1rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    .workwithme {
        margin-top: 10rem;
        text-align: center;
    }

    .hey, .iAm, .about-name, .about-lastname {
        text-align: center;
    }
}




@media (max-width: 768px) {
    /*Home page*/
    .hamburger {
        display: block;
    }

    .navlinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: black;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }

    .navlinks a {
        padding: 1rem;
        width: 100%;
    }

    .show-menu {
        display: flex;
    }

    .title {
        font-size: 3rem;
        margin: 0 auto;
    }

    .bio {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        margin-top: 5vh;
        width: 40vh;
        line-height: 4vh;
    }

    .school {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 3vh;
    }

    #projects-title{
        margin-bottom: 3vh;
    }

    .project-img {
        margin-bottom: 5vh;
    }

    .description {
        text-align: center;
        width: 300px;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
        gap: 1rem;
    }

    #navbar {
        margin-right: 3vh;
    }

    /*About page*/

    .about-section{
        align-items: center;
    }

    .about{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .about img {
        max-width: 250px; 
    }

    .iAm{
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .about-name {
        font-size: 2.5rem;
        margin-bottom: 0px; 
    }

    .about-lastname {
        font-size: 1.8rem; 
        margin-top: 0px;
        margin-bottom: 1rem;
    }

    .about-section{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }

    .about-text{
        margin: 0 auto;
        text-align: center;
        width: 20rem;
    }

    .about-text p {
        font-size: 1rem; 
        line-height: 1.6rem;
    }

    .workwithme {
        margin-top: 10rem;
    }

    .bullet{
        line-height: 5vh;
    }

    .icons img {
        width: 1.5rem; 
    }

    .qualifications {
        flex-direction: column; 
        align-items: center;
        padding: 1rem;
        width: 20rem;
        margin-bottom: 0px;
    }

    .workwithme {
        margin-top: 5rem;
        margin-bottom: 1rem;
    }

    .icons img {
        width: 1.5rem; 
    }

    /*Contact page*/
    .contact-img{
        width: 250px;
    }

    .contact{
        margin: 0 auto;
        width: 250px;
        padding: 10px;
        gap: 3rem;
    }

    .contact-options{
        margin: 0 auto;
        width: 300px;
        text-align: center;
    }

@media (max-width: 450px) {
    /*Home page*/
    .title {
        font-size: 2rem;
    }

    .fullintro {
        margin-top: 20vh;
    }

    .bio {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        margin-top: 5vh;
        width: 35vh;
        line-height: 4vh;
    }

    .school{
        width: 35vh;
    }

}
}