@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    font-family: 'Inter', sans-serif;
}

body{
    background-color: black;
}

h1, h2, h3, a{
    color: rgb(255, 79, 26);
}

p{
    color: white;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    color: white;
    transform: scale(1.1);
}

h2#projects-title{
    text-align: center;
    margin-top: 30rem;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 40px;
    margin-top: 40px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
}

.title{
    font-size: 7rem;
    font-weight: 800;
    font-style: italic;  
    margin-left: 0px;
    margin-top: 65px;
    margin-bottom: 0px; 
    margin: 0 auto;
}

.fullintro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30vh;
}

.bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.down{
    width: 5vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10vh;
    transition: transform 0.3s ease;
}

.down:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.works{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    gap: 2rem;
}

h3.title{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.school{
    margin-top: 0px;
    margin-bottom: 3rem;
}

.title-one{
    color: rgb(255 , 143, 190);
}

.title-two{
    color: rgb(250, 219, 20);
}

.title-three{
    color: rgb(230 , 170, 206);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}


.project-img{
    border: 1px solid var(--border-color);
}

.one {
    --border-color: rgb(255 , 143, 190);
}

.two {
    --border-color: rgb(250, 219, 20);
}

.three {
    --border-color: rgb(230 , 170, 206);
}

.title{
    margin-top: 0px;
}

.project-img{
    width: 100%;
    max-width: 1000px;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-weight: bold;
    color: var(--color);
}

.links-one a{
    color: rgb(255 , 143, 190);
}

.links-two a{
    color: rgb(250, 219, 20);
}

.links-three a{
    color: rgb(230 , 170, 206);
}

.description{
    font-style: italic;
}


.about{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 500px;
}

.about-text{
    margin-top: 3rem;
    line-height: 2rem;
}

.contact-link{
    font-weight: bold;
    text-decoration: underline;
}

.contact-img{
    position: fixed; 
    bottom: 0; 
    width: 30rem; 
    height: auto;
    margin: 0;
}